@model CarRental.Services.Dto.AddLocationPointDto
@{
    Layout = null;
    SelectListItem[] locations = ViewBag.LocationsList;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddLocationPoint</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div>
            <div>Şehir: @Html.DropDownListFor(m => m.LocationIdString, (IEnumerable<SelectListItem>)ViewBag.locations, "Select Location")</div>
            <div>Teslim Noktası: @Html.TextBoxFor(m => m.LocationPointName)</div>
            <input type="submit" value="Create LocationPoint" />

        </div>
    }


    </body>
</html>
